name: Self-Surveillance Check
on: [pull_request]

# TODO: we clould run other checks as well (e.g. tf linting, docs creation etc.), maybe even via pre-commit
jobs:
  tests:
    runs-on: zon-ubuntu-general-dind
    permissions:
      id-token: write
      contents: write

    steps:
    - name: Check out repository
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - name: Call baseproject GHA
      id: baseproject
      uses: ./
      with:
        project_name: github-actions-baseproject-tests
        gke_auth: false
        vault_export_token: true
        gar_docker_auth: true
        alerting_channel: C04US01KGN7 # test-slackbot
